.button, .choices {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 14px;
    padding: 10px;
    border-radius: 6px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(12, 98, 164) 0%, rgb(35, 136, 203) 26%, rgb(15, 59, 88) 100%);
    box-shadow: rgba(0, 0, 0, 0.7) 8px 2px 12px 0px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
}

.button:hover {
    background: #0C62A4;
}

.choices:hover {
    animation: shiny .5s 1;
    background-image: linear-gradient(to right, rgb(12, 98, 164) 0%, rgb(35, 136, 203) 1%, rgb(15, 59, 88) 100%);
}

.button:active, .choices:active {
    background: #0F3B58;
}

@keyframes shiny {
    0% {
        background-image: linear-gradient(to right, rgb(12, 98, 164) 0%, rgb(35, 136, 203) 1%, rgb(15, 59, 88) 100%);
    }
    10%{
        background-image: linear-gradient(to right, rgb(12, 98, 164) 0%, rgb(35, 136, 203) 20%, rgb(15, 59, 88) 100%);
    }
    20%{
        background-image: linear-gradient(to right, rgb(12, 98, 164) 0%, rgb(35, 136, 203) 40%, rgb(15, 59, 88) 100%);
    }
    30%{
        background-image: linear-gradient(to right, rgb(12, 98, 164) 0%, rgb(35, 136, 203) 60%, rgb(15, 59, 88) 100%);
    }
    40%{
        background-image: linear-gradient(to right, rgb(12, 98, 164) 0%, rgb(35, 136, 203) 80%, rgb(15, 59, 88) 100%);
    }
    50%{
        background-image: linear-gradient(to right, rgb(12, 98, 164) 0%, rgb(35, 136, 203) 99%, rgb(15, 59, 88) 100%);
    }
    60%{
        background-image: linear-gradient(to right, rgb(12, 98, 164) 0%, rgb(35, 136, 203) 80%, rgb(15, 59, 88) 100%);
    }
    70%{
        background-image: linear-gradient(to right, rgb(12, 98, 164) 0%, rgb(35, 136, 203) 60%, rgb(15, 59, 88) 100%);
    }
    80%{
        background-image: linear-gradient(to right, rgb(12, 98, 164) 0%, rgb(35, 136, 203) 40%, rgb(15, 59, 88) 100%);
    }
    90%{
        background-image: linear-gradient(to right, rgb(12, 98, 164) 0%, rgb(35, 136, 203) 20%, rgb(15, 59, 88) 100%);
    }
    100%{
        background-image: linear-gradient(to right, rgb(12, 98, 164) 0%, rgb(35, 136, 203) 1%, rgb(15, 59, 88) 100%);
    }
}


